{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' type= "text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/76ed2ced4a.js" crossorigin="anonymous"></script>
        <style>
            footer {
              background-color: #555;
              color: white;
              width: 100%;
              height: 100px;
              padding: 15px;
              position: absolute;
              bottom: 0;
              left: 0;
            }
            .container {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                width: 1230px;
            }
        </style>
        <title>{% block Home%}{% endblock %}</title>
    </head>

    <body>
        <div class="container-fluid"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">ACME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </header>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Dashboards</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Clientes</a>
                </li>
              </ul>
            </div>
          </nav>
          
            {% block content %}{% endblock %}
        <!-- <div class="elemento-fixo" id="elemento-fixo">ACME</div> -->

        <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

      <footer class="footer navbar-fixed-bottom text-center">
        <p>ACME</p>
      </footer>

    </body>
</html>
